* {
    background-color: #E9ECEA;
}

body {
    height: 90vh;
    font-family: 'Nunito', sans-serif;
}

header {
    font-size: 40pt;
    color: #2a2a28;
    text-shadow: 3px 3px 4px #353831;
    padding-bottom: 1rem;
    border-bottom: 4px solid #83781b;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

img {
    float: left;
    width: 200px;
    height: 200px;
    display: flex;
    object-fit: cover;
}
#product-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
#caption-container {
    display: flex;
    text-align: center;
    text-decoration: 1px underline #353831;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #0067a3;
}

#leftImage {
    display: inline-block;
    padding-left: 10px;
}
#left-caption {
    display: inline-block;
    margin: 2px;
    padding-left: 60px;
}

#middleImage {
    display: inline-block;
}
#middle-caption {
    display: inline-block;
    margin: 2px;
}

#rightImage {
    display: inline-block;
    padding-right: 10px;
}
#right-caption {
    display: inline-block;
    margin: 2px;
    padding-right: 60px;
}

#results-list {
    margin: 1rem;
    display: block;
    justify-content: center;
    text-align: center;
    color: #353831;
}

#results-chart-section{
    margin: 1rem;
    background-color: #353831;
}
footer {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    color: #0067a3;
}